<div class="search-page">
  <app-search-toolbar
    [options]="options"
    (searchStart)="onSearchStart($event)"
    (searchTerm)="onSearchTerm($event)"
  ></app-search-toolbar>

  <div class="search-page-container">
    <div class="welcome-container" *ngIf="!searchTerm.length && !errorMessage.length">
     <div class="welcome-message">
       <h1>Welcome to GitHub User Search!</h1>
       <p>Please type in the search username you would like to search for.</p>
     </div>

      <div class="pro-tip">
        <mat-icon>info</mat-icon>
        <p class="message"><span class="title"> Pro Tip!</span> You can press <kbd class="key-shortcut">⇧ Shift</kbd> + <kbd class="key-shortcut">/</kbd> to enable quick search</p>
      </div>
    </div>
    <div class="search-results" *ngIf="searchResults.length">
      <app-user-profile
        *ngFor="let userProfile of searchResults"
        [userProfile]="userProfile"
      ></app-user-profile>
    </div>
    <div class="message-container">
      <ng-container *ngIf="noResults && !errorMessage">
        <mat-icon>warning</mat-icon>
        <p class="message"><span class="title">Sorry!</span> No results have been found for your search</p>
      </ng-container>

      <ng-container *ngIf="errorMessage">
        <mat-icon>error</mat-icon>
        <p class="message"><span class="title">Error:</span> {{ errorMessage }}</p>
      </ng-container>
    </div>
  </div>
</div>
