:host {
  display: block;
  font-size: 1rem;
  height: 100%;
  overflow: hidden;
}

.search-page-container {
  margin: 0 auto;
  max-width: 960px;
  height: 100%;
  padding: 16px;
}

.welcome-container,
.message-container {
  margin-top: 50px;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  color: #4f4f4f;
  height: 100%;

  h1 {
    font-weight: 500;
    font-size: 1em;
  }
}

.pro-tip {
  display: none;
}

.title {
  font-weight: 500;
}

.message {
  margin-left: 5px;
}

.message-container {
  display: flex;
  align-items: center;
  color: #4f4f4f;
}

.key-shortcut {
  border: 1px solid #aaaaaa;
  padding: 3px;
  border-radius: 2px;
}

.search-results {
  display: block;
}

.total-users {
  font-size: 1em;
  color: #4f4f4f;
}

app-user-profile {
  margin-bottom: 16px;
}

app-search-pagination {
  margin: 16px 0;
}

.user-profiles {
  height: 75vh;
  overflow: auto;
}

@media screen and (min-width: 768px) {
  .user-profiles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 960px) {
  .user-profiles {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .user-profiles {
    padding: 20px 0;
  }

  .pro-tip {
    display: flex;
    align-items: center;
    margin-top: 70px;
  }
}
